<p *ngIf="(state$ | async)?.loading; else ifNotLoading">CARGANDO DATA...</p>

<ng-template #ifNotLoading>
  <!-- <pre>{{ (state$ | async)?.inscripciones | json }}</pre> -->
  <button (click)="crearUsuario()" type="button" mat-button >Crear usuario</button>

  <ul>
    <li *ngFor="let usuario of (state$ | async)?.usuarios">
      {{ usuario.nombre}}
      <button (click)="eliminarUsuarioporId(usuario.id)" mat-icon-button color="warn" type="button">
        <mat-icon>delete</mat-icon>
      </button>
    </li>
  </ul>
</ng-template>
