<h3 mat-dialog-title>CREAR USUARIO</h3>
<div mat-dialog-content>
  <form [formGroup]="usuarioForm">
    <div>
      <mat-form-field class="width">
        <mat-label>Nombre</mat-label>
        <input matInput
          class="form-control" />
      </mat-form-field>

      <mat-form-field>
        <!-- <input matInput /> -->
        <mat-label>Estudiante</mat-label>
        <mat-select [formControl]="usuarioIdControl">
          <mat-option [value]="usuario.id"  *ngFor="let usuario of usuario">
            {{ usuario.nombre }} {{ usuario.apellido }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-dialog-close mat-button type="button">Cancelar</button>
  <button (click)="onSave()" mat-button type="button">Guardar</button>
</div>
