<h1 mat-dialog-title>ABM Inscripciones</h1>
<div mat-dialog-content>
  <form class="formulario-alumnos">
    <table class="width" cellspacing="0">
      <td>
        <mat-form-field class="width">
          <mat-label>Nombre del alumno</mat-label>
          <mat-select [formControl]="alumnoControl" class="form-control">
            <mat-option *ngFor="let alumno of alumnos" [value]="alumno.id">{{ alumno.nombre }}</mat-option>
          </mat-select>
          <div *ngIf="alumnoControl.hasError('required') && alumnoControl.touched" class="invalid-feedback">
            Este campo es obligatorio
          </div>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="width">
          <mat-label>Curso</mat-label>
          <mat-select [formControl]="cursoControl" class="form-control">
            <mat-option *ngFor="let curso of cursos" [value]="curso.id">
              {{ curso.nombre }}
            </mat-option>
          </mat-select>
          <div *ngIf="cursoControl.hasError('required') && cursoControl.touched" class="invalid-feedback">
            Este campo es obligatorio
          </div>
        </mat-form-field>
      </td>
    </table>
    <table>
      <tr>
        <td>
          <mat-form-field class="width">
            <mat-label>Fecha de inscripción</mat-label>
            <input matInput [ngClass]="{ 'is-invalid': fechaControl.invalid && fechaControl.touched}"
              [formControl]="fechaControl" class="form-control" [matDatepicker]="fechaInscripcionPicker" />
            <mat-datepicker-toggle matSuffix [for]="fechaInscripcionPicker"></mat-datepicker-toggle>
            <mat-datepicker #fechaInscripcionPicker></mat-datepicker>
            <div *ngIf="fechaControl.hasError('required') && fechaControl.touched" class="invalid-feedback">
              Este campo es obligatorio
            </div>
          </mat-form-field>
        </td>
      </tr>
      </table>
  </form>

  <div mat-dialog-action>
    <button mat-dialog-close class="button-row" mat-raised-button color="warn">Cancelar</button>
    <button (click)="guardar()" class="button-row" mat-raised-button color="primary">Guardar</button>
  </div>

</div>
