<mat-drawer-container class="example-container" autosize>
  <!--Siderbar-->
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <img class="photo" mat-card-sm-image src="https://uploads.turbologo.com/uploads/design/hq_preview_image/472636/draw_svg20210830-31526-9wr9ip.svg.png" >
    <p></p>
    <button (click)="showFiller = !showFiller" color="primary" class="boton" mat-raised-button>
      Alumnos
    </button>
    <p></p>
    <button (click)="showFiller = !showFiller" color="primary" class="boton" mat-raised-button>
      Cursos
    </button>
    <p></p>
    <button (click)="showFiller = !showFiller" color="primary" class="boton" mat-raised-button>
      Inscripciones
    </button>
  </mat-drawer>


  <!--Mi Wrapper-->
  <div class="example-sidenav-content">


    <!--Toolbar-->

    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon >menu</mat-icon>
      </button>
      <span appFontSize>Nuevas Inscripciones</span>
      <span class="example-spacer"></span>
      <app-hora></app-hora>
    </mat-toolbar>


    <!--Mis paginas-->
    <main>

      <!-- <app-formulario></app-formulario> -->

      <app-cursos></app-cursos>

       <!-- <app-tablas></app-tablas> -->

    </main>
  </div>
</mat-drawer-container>
